<div id="navigazione">
	<ul>
		<li class="selected-category"><a>Reddit - {{selectedCategory? selectedCategory.display_name_prefixed : ""}}</a></li>
	</ul>
</div>
<div id="icon-menu" (click)="toggleState()"><i class="large material-icons">menu</i></div>
<div class="content">	
	<perfect-scrollbar id="menusx" [@stateMenu]="stateMenu">
		<div class="search"><input (keyup)="searchTerm$.next($event.target.value)" placeholder="Search Categories"></div>
		<div class="top"></div>
		<div class="a" *ngFor="let category of categories" (click)="onSelect(category)">
			<img *ngIf="category.icon_img" class="image-icon-menu" [src]="category.icon_img" title="{{category.public_description}}">
			<div class="text">{{category.display_name_prefixed}}</div>
		</div>
	</perfect-scrollbar>
	<app-information-category [category]="selectedCategory" class="content-information"></app-information-category>
</div>
<div id="loader-content" *ngIf="showLoader">
  <div id="loader-container">
  <p id="loadingText">Loading</p>
</div>
</div>