<perfect-scrollbar *ngIf="category" class="content-scroll content-information">
	<div class="banner">
		<img *ngIf="category.banner_img" class="banner-image" [src]="category.banner_img">
		<div class="banner-ico-content"><img *ngIf="category.icon_img" class="banner-ico" [src]="category.icon_img"></div>
			
	</div>
	<div class="articolo">
		<div class="articolo-titolo content-information">
			{{category.title}}
			<div id="icon-commet"><i class="large material-icons">comment</i></div>
		</div>

		<p class="articolo-desc" [innerHTML]="category.public_description_html | escapeHtml"></p>
		
		<app-comments  [comments]="category.comments"></app-comments>
	</div>
</perfect-scrollbar>
